* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', cursive;

  }

body{
  background-color: #EDE3C9;
  text-align: center;
}

#container{
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 13rem 54% 4% 29% 13% 3%;

}
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: #EDE3C9;
  text-decoration: none;
  font-family: sans-serif;
}

.linksMenu:hover {
  background: rgba(255, 255, 255, 0.05);
  border: #EDE3C9 solid 1px;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5%;
}

#header {
  box-sizing: border-box;
  height: 100px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #341507;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

.links:hover{
  border: solid 2px #EDE3C9 ;
}

.img-left{
  width: 75%;
  border-radius: 5%;
}
.img-right{
  width: 75%;
  border-radius: 5%;
}

.conteudo-direita{
  margin: 35% 0 0 0;
}
.container{
  margin: 0 10% 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contentText{
  padding: 5% 15%;
  font-size: 18px;
}
.icones{
  width: 22%; 
}
.legenda{
  font-size: 14px;

}
hr {
  margin-top: 5%;
  height: 5px;
  margin-bottom: 5%;
  border-top: 2px solid #341507;
  margin:10%;


}
#tipos{
  text-align: center;
  margin: 0% 10% 0 10%;
}
.slide{
  text-align: justify;

} 

.nomeTipo{
  font-size: 20px;
    text-align: justify;
    margin-left: 10%;
    margin-bottom: 3%;
}
.text{
  font-size: 18px;
  margin-right: 20%;
  margin-left: 35%;
}
.slide-images{
  float: left;
  width: 30%;
  margin-left: 3%;
  text-align: justify;
  border-radius: 5%;
}
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
.slide-controller:nth-child(5):checked ~ .slide-show .slides-list{--selected-item: 4;}


.slide-show{
  overflow: hidden;
}

input[type="radio"]{
  width: 2%;
}
input[type="radio"]:hover {
  cursor: pointer;
  transform: scale(1.5); 
  
}

.slides-list{
  --selected-item: 0;
  --total-items: 5;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.6s ;
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr ;
}

.slides-list-loja{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.6s ;
  
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr ;
}
.slide-controller:nth-child(1):checked ~ .slide-show .slides-list-loja{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list-loja{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list-loja{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list-loja{--selected-item: 3;}

.slide-images-loja{
  width: 100%;
  border-radius: 5%;
}

.slideProduto{
  background-color: coral;
  margin: 2% 35%;
  border-radius: 5%;

} 

.descricaoProduto{
  font-size: 18px;
  text-align: justify;
  margin: 3% 5%;
}

.btn-comprar{
  width: 25%;
  background-color: #b98e8e;
  color: #341507;
  border-radius: 5%;
  cursor: pointer;
}

.btn-comprar {
  border-radius: 5%;

  background-color: #5c7be1;
  color: #fff;
  text-align: center;
  font-size: 18px;
  width: 35%;
  height: 6vh;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2% 0;
  box-shadow: 0 5px 3px -2px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-comprar:after {
  content: '»';
  position: absolute;
  opacity: 0;  

  right: -10px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.btn-comprar:hover:after {
  opacity: 1;
  right: 10px;
}

 .img-rodape{
  width: 130%;
  margin-left: -17%;
  margin-bottom: -20%;
  
} 
.contato{
  width: 70%;
}
.contato-title{
  color: #EDE3C9;
}
.img-icone{
  width: 8%;
  margin: 5%;
}

 #footer {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: #341507;
} 

.wraper {
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
#menu{
  display: flex;
  list-style: none;
}
.text-contato{
  color: #EDE3C9;
}
@media only screen and (max-width: 430px) {
  #container{
    grid-template-columns: 1fr;
    grid-template-rows: 13rem 59% 6% 29% 12% 3%;

  }
  .container{
    grid-template-columns: 1fr;

  }
  
  input[type="radio"]{
    width: 4%;
  }
  .slide-images{
    width: 95%;
  }
  .text{
    margin: 0;
  }
  .nomeTipo{
    margin-left: 10%;
  }
  
  .slideProduto{
    margin: 2% 20%;
  }
  .btn-comprar{
    text-align: center;
    font-size: 16px;
    width: 50%;
  }
  .icones{
    display: flex;
    width: 10%;
  } 
  .conteudo-esquerda{
    margin-top: 12%;
  }
  .conteudo-esquerda{
    margin-top: 10%;
  }
  #menu {
    width: 100%;
    display: block;
    position: absolute;
    top: 100px;
    right: 0px;
    background: #643333;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 100px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    color:#EDE3C9;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}